/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

/* VARIABLES CSS */
:root {
  /* colors */
  --color-darkBlue: #172339;
  --color-grey: #49566d;
  --color-cream: #f3ede7;
  --color-creamWhite: #faf8f6;
  --color-purple: #a060ff;
  --color-pink: #cb30e3;
  --color-yellow: #ffa84e;

  /* font-size */
  --font-xl: 4.5rem;
  --font-l: 3rem;
  --font-m: 1.125rem;
  --font-s: 1rem;

  --font-quote: 1.25rem;
  --font-footer: 0.938rem;

  /* line-height */
  --lh-xl: 1.08;
  --lh-l: 1.17;
  --lh-m: 1.78;
  --lh-s: 1.62;

  --lh-quote: 1.75;
  --lh-footer: 2.13;

  /* font-weight */
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-darkBlue);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 74.375rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(50rem / 16);
  padding-bottom: calc(67rem / 16);
}

.btn--transparent:link,
.btn--transparent:visited {
  display: inline-block;
  font: var(--fw-bold) var(--font-s) / 2 "Epilogue";
  color: var(--color-darkBlue);
  letter-spacing: -0.01rem;
  border-radius: 0.375rem;
  box-shadow: inset 0 0 0 0.063rem var(--color-darkBlue);
  padding: 0.75rem 1.563rem 0.75rem 1.5rem;
  transition: all 0.3s ease-in-out;
}

.btn--transparent:hover,
.btn--transparent:active {
  color: var(--color-creamWhite);
  background-color: var(--color-darkBlue);
}

/* HERO */
.hero {
  position: relative;
}

.hero::after {
  content: "";
  width: 21.875rem;
  height: 37.5rem;
  background: url(../img/image-hero-portrait.webp) no-repeat;
  position: absolute;
  top: 0;
  right: 327px;
  z-index: -1;
}

.hero__box {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 14.75rem;
  padding-top: 6.438rem;
}

.hero__content {
  max-width: 39.688rem;
}

.hero__title {
  font: var(--fw-regular) var(--font-xl) / var(--lh-xl) "Epilogue";
  letter-spacing: -1px;
  margin-bottom: 2.5rem;
}

.hero__details {
  font-weight: var(--fw-bold);
  position: relative;
}

.hero__details::before {
  content: "";
  width: 17.938rem;
  height: 2.25rem;
  background: url(../img/pattern-curved-line-1.svg) no-repeat;
  position: absolute;
  top: -65px;
}

.hero__description {
  font: var(--fw-regular) var(--font-m) / var(--lh-m) "Epilogue";
  color: var(--color-grey);
  letter-spacing: 0.1px;
  margin-bottom: 3.25rem;
  max-width: 35ch;
}

.btn--blue:link,
.btn--blue:visited {
  display: inline-block;
  font: var(--fw-bold) var(--font-m) / var(--lh-m) "Epilogue";
  color: var(--color-creamWhite);
  background-color: var(--color-darkBlue);
  padding: 0.938rem 1.938rem 0.875rem 2rem;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.btn--blue:hover,
.btn--blue:active {
  color: var(--color-creamWhite);
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}

.hero__list {
  display: grid;
  gap: 3.938rem;
  justify-self: end;
  padding-right: 4.875rem;
}

.hero__number {
  font: var(--fw-bold) var(--font-l) / var(--lh-l) "Epilogue";
  letter-spacing: -0.031rem;
}

.hero__info {
  font: var(--fw-regular) var(--font-s) / var(--lh-s) "Epilogue";
  color: var(--color-grey);
  letter-spacing: 0.156rem;
  text-transform: uppercase;
}

/* TESTIMONIAL */
.testimonial-bg {
  box-shadow: inset 0 -265px var(--color-cream);
}

.testimonial-box {
  height: 600px;
  display: grid;
  align-items: end;
  /* margin-bottom: 95px; */
}
.testimonial {
  height: 545px;
  display: grid;
  gap: 152px;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background: url(../img/pattern-blur.svg) no-repeat left 35px bottom -118px,
    var(--color-darkBlue);
  padding: 0;
  position: relative;
}
.testimonial::after {
  content: "";
  display: block;
  width: 64px;
  height: 52px;
  background: url(../img/pattern-curved-line-2.svg) no-repeat;
  position: absolute;
  top: 161px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial__img {
  padding-left: 121px;
  margin-top: -45px;
}

.testimonial__content {
  padding-top: 88px;
  padding-right: 125px;
}

.testimonial__title {
  font: var(--fw-regular) var(--font-l) / var(--lh-l) "Epilogue";
  color: var(--color-creamWhite);
  margin-bottom: 40px;
}

.testimonial__text {
  font: var(--fw-regular) var(--font-quote) / var(--lh-quote) "Epilogue";
  color: var(--color-cream);
  letter-spacing: 0.1px;
  margin-bottom: 40px;
}

.testimonial__author {
  font: var(--fw-bold) var(--font-m) / var(--lh-m) "Epilogue";
  letter-spacing: -0.18px;
  text-transform: uppercase;
  color: var(--color-creamWhite);
}

.testimonial__business {
  font: var(--fw-regular) var(--font-s) / var(--lh-s) "Epilogue";
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: var(--color-cream);
}

/* FOOTER */
.footer-bg {
  background: var(--color-cream);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 72px;
}

.footer__copy {
  font: 400 var(--font-footer) / var(--lh-footer) "Epilogue";
  color: var(--color-grey);
  letter-spacing: 0.0833333px;
}

.footer__redes {
  display: flex;
  align-items: center;
  gap: 28px;
}

.foooter__link:hover,
.foooter__link:hover svg path {
  fill: var(--color-darkBlue);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1160px) {
  .hero::after {
    content: "";
    display: block;
    width: 350px;
    height: 600px;
    background: url(../img/image-hero-portrait.webp) no-repeat;
    position: absolute;
    top: 0;
    right: 250px;
    z-index: -1;
  }

  /* .hero__title {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.777778px;
    max-width: 494px;
  } */

  .hero__list {
    display: grid;
    align-content: start;
    gap: 63px;
    justify-self: end;
    padding-right: 0;
  }

  .testimonial__content {
    padding-top: 60px;
    padding-right: 60px;
  }

  .testimonial__img {
    padding-left: 60px;
  }

  .testimonial__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.416667px;
    margin-bottom: 20px;
  }

  .testimonial__text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
  }

  .testimonial::after {
    content: "";
    display: block;
    width: 64px;
    height: 52px;
    background: url(../img/pattern-curved-line-2.svg) no-repeat;
    position: absolute;
    top: 161px;
    left: 50%;
    transform: translateX(-10%);
  }
}

@media (max-width: 1020px) {
  .header {
    margin-bottom: 80px;
  }
  .hero::after {
    content: "";
    display: block;
    width: 281px;
    height: 482px;
    background: url(../img/image-hero-portrait.webp) no-repeat;
    background-size: 281px 482px;
    position: absolute;
    top: 0;
    right: 52px;
    z-index: -1;
  }

  .hero {
    margin-bottom: 100px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    max-width: 40ch;
    margin-bottom: 40px;
  }

  .hero__box {
    padding-top: 88px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 128px;
    max-width: 1035px;
    /* height: 405px; */
    /* margin-bottom: 144px; */
    margin-bottom: 100px;
  }

  .hero__list {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: start;
    gap: 63px;
    justify-self: center;
  }

  .hero__details::before {
    content: "";
    display: inline-block;
    width: 231px;
    height: 29px;
    background: url(../img/pattern-curved-line-1.svg) no-repeat;
    background-size: 231px 29px;
    position: absolute;
    top: -45px;
  }

  .testimonial-box {
    width: 100%;
    height: 857px;
    display: flex;
    align-items: start;
  }

  .testimonial {
    height: 684px;
    display: grid;
    gap: 27px;
    text-align: center;
    grid-template-columns: 1fr;
    border-radius: 15px;
    background: url(../img/pattern-blur.svg) no-repeat top -240px center,
      var(--color-darkBlue) no-repeat bottom;
    padding-left: 58px;
    padding-right: 58px;
    align-self: end;
  }

  .testimonial__content {
    padding-top: 0px;
    padding-right: 0;
  }

  .testimonial__img {
    margin-top: -166px;
    padding-left: 0;
    /* display: none; */
  }

  .testimonial::after {
    content: "";
    display: block;
    width: 49px;
    height: 40px;
    background: url(../img/pattern-curved-line-2.svg) no-repeat;
    background-size: 49px 40px;
    position: absolute;
    top: 261px;
    left: 50%;
    transform: translateX(-40%);
  }

  .testimonial__title {
    margin-bottom: 40px;
  }

  .testimonial__text {
    margin-bottom: 40px;
  }

  .footer {
    padding-top: 72px;
  }
}

@media (max-width: 680px) {
  .container {
    padding: 0 1rem;
  }

  .hero {
    margin-bottom: 56px;
  }

  .header {
    padding-top: 24px;
    margin-bottom: 83px;
  }

  .btn--transparent:link,
  .btn--transparent:visited {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    padding: 12px 16px 12px 17px;
  }

  .hero__title {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
    margin-bottom: 32px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    margin-bottom: 32px;
  }

  .hero__details::before {
    content: "";
    display: inline-block;
    width: 151px;
    height: 19px;
    background: url(../img/pattern-curved-line-1.svg) no-repeat;
    background-size: 151px 19px;
    position: absolute;
    top: -25px;
  }

  .hero__list {
    flex-direction: column;
    gap: 32px;
  }

  .hero__box {
    position: relative;
    gap: 56px;
    padding-top: 0;
    margin-bottom: 56px;
  }
  .hero::after {
    display: none;
  }

  .hero__box::after {
    content: "";
    display: block;
    width: 343px;
    height: 240px;
    background: url(../img/image-hero-landscape.png) no-repeat;
    background-size: 343px 240px;
    position: relative;
    /* top: 0;
    right: 52px;
    z-index: -1; */
    grid-row: 2;
    justify-self: start;
  }

  .testimonial {
    height: 748px;
    display: grid;
    gap: 27px;
    text-align: center;
    grid-template-columns: 1fr;
    border-radius: 15px;
    background: none, var(--color-darkBlue) no-repeat bottom;
    padding-left: 16px;
    padding-right: 16px;
    /* padding-bottom: 64px; */
    align-self: end;
  }

  .testimonial-box {
    width: 100%;
    height: 929px;
    display: flex;
    align-items: start;
  }

  .testimonial-box.container {
    padding: 0;
  }

  .testimonial__img {
    margin-top: -176px;
    padding-left: 0;
    /* display: none; */
  }

  .testimonial::after {
    content: "";
    display: block;
    width: 49px;
    height: 40px;
    background: url(../img/pattern-curved-line-2.svg) no-repeat;
    background-size: 49px 40px;
    position: absolute;
    top: 251px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding-bottom: 80px;
    gap: 33px;
    padding-top: 56px;
  }

  .footer__redes {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .btn--transparent:link,
  .btn--transparent:visited,
  .btn--blue:link,
  .btn--blue:visited {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.14px;
    padding: 8px 8px;
  }

  .hero__box::after {
    content: "";
    display: block;
    width: 240px;
    height: 200px;
    background: url(../img/image-hero-landscape.png) no-repeat;
    background-size: 240px 200px;
    position: relative;
    /* top: 0;
    right: 52px;
    z-index: -1; */
    grid-row: 2;
    justify-self: start;
  }

  .hero__title {
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.527778px;
    margin-bottom: 24px;
  }

  .hero__description {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.0888889px;
    margin-bottom: 24px;
  }

  .hero__details::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 12px;
    background: url(../img/pattern-curved-line-1.svg) no-repeat;
    background-size: 100px 12px;
    position: absolute;
    top: -15px;
  }

  .hero__number {
    font-size: 32px;
    line-height: 1.5;
  }

  .hero__info {
    font-size: 12px;
    line-height: 1;
  }
}
